$color: #D7DDE3;
$secondaryColor: #67DBF9;

.pagButtons {
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  grid-gap: 1rem;
  align-content: center;
}

.page,
.arrow{
  position: relative;
  padding: .1rem;
  cursor: pointer;
  transition: color .2s, transform .2s ease-in-out;
  user-select: none;
  width: 1.5rem;
  text-align: center;
}

.page:hover,
.arrow:hover {
  color: $secondaryColor;
  transform: scale(1.2) translateY(-.1rem);
}

.page.selectedPage {
  color: $secondaryColor;
  transform: scale(1.2) translateY(-.1rem);
}

.page.selectedPage:before {
  position: absolute;
  content: '';
  width: .7rem;
  height: .2rem;
  border-radius: .1rem;
  background: $secondaryColor;
  bottom: -.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}