$color: #D7DDE3;
$secondaryColor: #67DBF9;

.root {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-gap: 1rem;
  font-size: 1.4rem;
}

.avatar {
  display: grid;
  justify-items: center;

  img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }

  button {
    border: 2px solid $color;
    border-radius: .5rem;
    background: transparent;
    color: white;
    font-size: .9rem;
    cursor: pointer;
    outline: none;
    transition: color .2s, background .3s ease-in-out;

  }

  button:hover {
    background: $secondaryColor;
    color: black;
  }
}

.descriptionUser {
  border: 2px solid $color;
  border-radius: 1rem;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.country {
  justify-self: end;
  text-align: right;
  display: grid;
  grid-gap: .5rem;
}

.name {
  display: grid;
}

.status {
  align-self: end;
  font-size: .9rem;
}

.pagButtons {
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  grid-gap: 1rem;
  align-content: center;
  > span {
    position: relative;
    padding: .1rem;
    cursor: pointer;
    transition: color .2s, transform .2s ease-in-out;
    user-select: none;
  }
  > span:hover {
    color: $secondaryColor;
    transform: scale(1.2) translateY(-.1rem);
  }
  > span.selectedPage {
    color: $secondaryColor;
    transform: scale(1.2) translateY(-.1rem);
  }
  > span.selectedPage:before {
    position: absolute;
    content: '';
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background: $secondaryColor;
    bottom: -.3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}