$color: #67DBF9;

.nav {
  grid-area: n;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.item {
  margin: 1rem 3rem;
  font-weight: bold;
  font-size: 1.4rem;
  transition: transform .3s, color .3s ease-in-out;
}

.item a {
  position: relative;
}

.item:hover {
  transform: scale(1.1);
  color: $color;
}

.item:active {
  color: rgba(255, 255, 255, 0.3);
  transition: color .1s;
}

.item a.active {
  color: $color;
}

.item a.active:after {
  content: '';
  position: absolute;
  background-color: $color;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: -1rem;
  margin: auto 0;
}

.sideBar {
  margin: 1rem 3rem;
  > span {
    font-weight: bold;
    font-size: 1.4rem;
  }
}