.descriptionBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  grid-gap: 2rem;
  > img {
    object-fit: contain;
    max-height: unset;
  }
}

.description {
  > div {
    margin: .5rem 0;
  }
}

.contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5rem 2rem;
}