.descriptionBlock {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1rem;
  grid-gap: 2rem;

  > img {
    object-fit: contain;
    max-height: unset;
  }
}

.background {
  height: auto;
  max-height: 18rem;
  object-fit: cover;
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.description {
  display: grid;
  grid-gap: .3rem;
}

.contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5rem 2rem;
}