.App {
  height: 100%;
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  padding: .5rem;
}

.header,
.nav,
.content {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

.header {
  grid-area: h;

  img {
    width: 5rem;
  }
}

.nav {
  grid-area: n;
  li {
    margin: 1rem 3rem;
  }
}

.content {
  grid-area: c;
  position: relative;
  img {
    height: auto;
    max-height: 18rem;
    object-fit: cover;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
}

//.content::after {
//  content: "";
//  background: url(img/Sapa-terraces.jpg);
//  opacity: 0.2;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-size: cover;
//  position: absolute;
//  z-index: -1;
//  filter: blur(5px);
//}