.dialogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  align-items: start;
}

.dialogItems,
.messageItems {
  display: grid;
  grid-gap: 1rem;
  margin: 0 1rem;
}