.sideBarWrapper {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.sideBar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-gap: .5rem;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    object-fit: cover;
  }
}
